TENCENT_MAP_KEY=your_tencent_map_key
AZURE_OPENAI_BASEURL=https://jxy-us-2.cognitiveservices.azure.com/openai/v1
AZURE_OPENAI_API_KEY=your_azure_openai_api_key
AZURE_OPENAI_MODEL=gpt-4.1
ARK_API_KEY=your_ark_api_key
OSS_AK=your_oss_access_key_id
OSS_SK=your_oss_access_key_secret
OSS_BUCKET=travel18
OSS_REGION=oss-cn-hangzhou
